/* !CORES! */
:root{
    --Branco-cor: #fff;
    --Preto-cor: #000;
    --AzulEscuro-cor: #263872;
    --AzulClaro-cor: #87B2BF; 
    --Laranja-cor: #F1B356;
    --Rosa-cor: #CA3077;
    --Roxo-cor: #8C52FF;
    --Cinza-cor: #8A8A8A;
}

/* !FONTS! */
@font-face {
    font-family: poppins_titulo;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins_subtitulo;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppins_corpo;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins_forms;
    src: url(../fonts/Poppins-Thin.ttf);
}
h1,h2,h3,p,button,a,strong{
    color: var(--Preto-cor);
}
h1{
    font-size: 2.5em;
    font-family: poppins_titulo;
}
h2{
    font-size: 1.7;
    font-family: poppins_subtitulo;
}
h3{
    font-size: 1em;
    font-family: poppins_subtitulo;
}
p{
    font-size: 1em;
    text-indent: 15px;
    text-align: justify;
    font-family: poppins_corpo;
}
a, span, form{
    font-size: 1em;
    font-family: poppins_forms;
}
button{
    font-size: 1em;
    font-family: poppins_corpo;
}








/* !PAGINA LOGIN! */
.container_login{
    display: flex;
    height: 100vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    align-items: center;
}
.login{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_login{
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
}
.titulo_login{
    text-align: center;
    margin-bottom: 4%;
}
.titulo_login h1{
    color: var(--AzulEscuro-cor);
}
.subtitulo_login{
    text-align: center;
}
.forms_login{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.forms_login input{
    width: 300px;
    height: 25px;
    padding: 1.5%;
    padding-left: 4%;
    border-radius: 15px;
    margin: 2%;
    border: solid 2px;
    border-color: var(--AzulClaro-cor);
}
.login_forms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.btn_login{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.login_btn{
    width: 200px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: var(--AzulEscuro-cor);
    color: var(--Branco-cor);
    transition: 0.5s;
}
.login_btn:hover{
    background-color: var(--AzulClaro-cor);
    color: var(--Preto-cor);
}
.img_login{
    display: flex;
    width: 60%;
}
.login_img{
    width: 100%;
    border-radius: 30px;
}