/* !CORES! */
:root{
    --Preto-cor: #2d2d29;
    --AzulEscuro-cor: #215a6d;
    --AzulClaro-cor: #3ca2a2;
    --Verde-cor: #92c7a3;
    --VerdeEscuro-cor: #7bab8a;
    --Cinza-cor: #dfece6;
}


/* !FONTES! */
h1{
    font-family: MiedingerBold;
    font-size: 3em;
    color: var(--Preto-cor);
    padding: 1%;
    text-align: center;
}
h2, h3, h4, span{
    font-family: MiedingerBold;
    font-size: 2em;
    color: var(--Preto-cor);
    padding: 1%;
}
p{
    font-family: MiedingerBook;
    font-size: 1em;
    color: var(--Preto-cor);
    padding: 0.5%;
    text-indent: 15px;
    margin-left: 1%;
    margin-right: 1%;
    line-height: 150%;
    text-align: justify;
}
a, button{
    font-family: MiedingerBook;
    font-size: 1.5em;
    color: var(--Preto-cor);
}
strong{
    font-weight: bold;
}
@font-face{
    font-family: MiedingerBold;
    src: url(../fonts/Miedinger_-Bold.otf);
}
@font-face {
    font-family: MiedingerBook;
    src: url(../fonts/Miedinger_-Book.otf);
}
@font-face {
    font-family: UnisonBold;
    src: url(../fonts/Type\ Juice\ -\ Unison\ Pro\ Bold\ Round.otf);
}
@font-face {
    font-family: UnisonLight;
    src: url(../fonts/Type\ Juice\ -\ Unison\ Pro\ Light\ Round.otf);
}


/* !ESTRUTURA! */
html{
    scroll-padding-top: 300px;
    background-color: var(--Verde-cor);
}
body{
    background-color: var(--Cinza-cor);
    margin-top: 150px;
}

/* !HEADER! */
.header{
    background-color: var(--Verde-cor);
    position: fixed;
    z-index: 6;
    width: 100%;
    transition: 0.7s;
    padding: 20px 10px;
    top: 0;
}
.navbar{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
/*logo*/
.logo{
    width: 30%;
    transition: 0.4s;
    margin-left: 3%;
}
.img_logo{
    width: 40%;
    margin: 1%;
}
/*menu*/
.menu{
    display: flex;
    width: 50%; 
    justify-content: space-around;
}
.menu a{
    color: white;
    font-family: UnisonLight;
    font-size: 1.3em;
}
.menu a:hover{
    color: var(--Preto-cor);
}


/* !HearMeOut! */
.hearmeout{
    background-color: var(--Verde-cor);
}
.container_hearmeout{
    display: flex;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.hearmeout h2{
    font-family: UnisonBold;
    font-size: 4em;
    color: white;
}
.hearmeout h3{
    font-family: UnisonLight;
    font-size: 2em;
    color: white;
}
.titulo_hearmeout{
    margin-bottom: 1%;
}
.corpo_header{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 12%;
}
.img_header{
    width: 50%;
    display: flex;
    justify-content: center;
}
.header_img{
    width: 80%;
    margin-bottom: 2%;
}

/* !CONTAINER! */
.container{
    width: 90%;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}


/* !quem somos! */
.img_qmsomos{
    width: 20%;
    float: right;
    margin: 0% 2% 0% 2%;
}


/* !Diferença! */
.diferenca{
    margin-top: 4%;
}
.diferenca h2{
    margin-top: 1%;
}
.diferenca_container{
    display: flex;
    margin-top: 2%;
}
/* Esquerda */
.dif_esquerda{
    width: 50%;
    margin-right: 2%;
}
.dif_esquerda_img{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    max-height: 100%;
}
.img_dif_esquerda{
    width: 70%;
    border-radius: 10%;
}
/* Direita */
.dif_direita{
    width: 50%;
    margin-left: 2%;
}
.dif_direita_img{
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
}
.img_dif_direita{
    width: 50%;
    border-radius: 10%;
}
.dif_direita h2{
    text-align: center;
}

/* !Tipos! */
.titulo_tipos{
    margin-top: 4%;
    margin-bottom: 2%;
}
.img_tipos_esquerda{
    float: right;
    margin: 2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 4%;
    width: 25%;
    border-radius: 10%;
}

/* !Team! */
.team{
    margin-top: 4%;
}
.card_team{
    width: 25%;
    margin: 20px 20px 0 20px;
}
.team .member {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}
.team .member img {
    border-radius: 10px;
    overflow: hidden;
}
.team .member .member-content {
    padding: 0 20px 30px 20px;
}
.team .member h4 {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 20px;
}
.team .member span {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: #6c757d;
}
.team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #6c757d;
}
.team .member .social {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team .member .social a {
    color: #a2a2a2;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbbbbb;
}
.team .member .social a:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}
.social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}
.social-links a:hover {
    color: #fff;
}
.social-links a {
    color: rgba(34, 34, 34, 0.5);
    margin-right: 5px;
}
.social-links {
    margin: 0 10px 10px 0;
}
.icon{
    margin: 0 2%;
    transition-duration: 0.25;
}
.icon:hover{
    animation: shake 0.25s;
}
/* Carousel team */
.container_time {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}
.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    margin-right: 2%;
    margin-left: 2%;
}
.gallery-wrapper{
    overflow-x: auto;
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: scroll-behavior;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;    
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
.arrow-left, .arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border: none;
    opacity: 1;
    color: none;
    opacity: 0.6;
    background-color: var(--Cinza-cor);
}
.arrow-right {
    right: 0;
    left: auto;
    text-align: right;
}
.arrow-left:hover, .arrow-right:hover{
    opacity: 1;
}
.item{
    width: 350px;
    flex-shrink: 0;
    opacity: 0.2;
    transition: all 900ms ease-in-out;
}
.current-item{
    opacity: 1;
    scroll-snap-align: center;
    transition-property: smooth;
    transition-duration: 0.3s;
    transition-timing-function: linear; 
    transition: all 900ms ease-in-out;
}


.gallery-wrapper::-webkit-scrollbar {
    display: none;
}
.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

  

/* !FOOTER! */
footer{
    background-color: var(--AzulEscuro-cor);
}
footer h3{
    font-size: 1em;
    text-align: center;
    margin-top: 1%;
}
.footer_{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-top: 1%;
}
.footer_ p, h2, h3, a{
    color: black;
}
.footer_ a:hover{
    color: white;
}
/* social */
.social_footer{
    width: 25%;
}
.p_footer{
    margin-top: 2%;
}
.footer_social{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
/* nav */
.nav_footer{
    width: 25%;
    height: 30%;
}
.menu_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.itens_nav{
    margin: 2%;
}
/* contato */
.contato_footer{
    width: 25%;
}
.p1{
    margin-top: 2%;
}


/* !Animação! */
[data-anime]{
    opacity: 0;
    transition: .5s;
}
[data-anime="left"]{
    transform: translate3d(-50px, 0 ,0);
}
[data-anime="right"]{
    transform: translate3d(500px, 0 ,0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}